@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: rgb(235, 231, 231);
    color: black;
}

a {
color: blue;
text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

a:visited {
    color: grey;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: rgb(68, 14, 14);
    margin: 0;
}

.info-text h4 {
    margin-bottom: 10px;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

.card {
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-yellow {
    background: rgb(224, 224, 155);
}

.bg-green {
    background: rgb(182, 216, 182);
}

.btn {
    background:rgb(68, 14, 14);
    padding: 10px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.9;
}

.list li {
    margin-bottom: 10px;
}

.table {
    width: 100%;
    font-size: 14px;
}

.table td {
    padding-bottom: 15px;
}

.table td:nth-child(2), .table td:nth-child(3) {
    color: rgb(71, 71, 71);
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row, .form-group {
    margin-right: 20px;
    width: 50%;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    } 
    .form-row, .form-group {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: black;
    padding: 15px 5px 10px;
    font-family: inherit;
}